.flex {
  display: flex;
}

.flex-row, .rating-items-container .rating-item .rating-stars-container, .mobile-rating-items-container .rating-item .rating-stars-container, .rating-items-container, .mobile-rating-items-container, .derailleurs-container, .companies-container .company-item, .technologies-breadcrumbs .breadcrumbs, .options-list-style li, .options-list-style1 li, .filter-input-style, .product-card-style .bottom-product-panel .product-price, .product-card-style .bottom-product-panel .product-color, .product-card-style .bottom-product-panel .sizes-info, .product-card-style .compare-checkbox, .nav-link-style {
  display: flex;
  flex-direction: row;
}

.flex-col, .companies-container, .rating-items-container .rating-item, .mobile-rating-items-container .rating-item, .comfort-container, .options-list-style, .options-list-style1, .product-card-style {
  display: flex;
  flex-direction: column;
}

.flex-center, .rating-items-container .rating-item, .mobile-rating-items-container .rating-item, .derailleurs-container .right-panel .img-square, .companies-container .company-item .right-panel .img-square, .derailleurs-container .left-panel .company-logo-square, .companies-container .company-item .left-panel .company-logo-square, .product-card-style .bottom-product-panel .product-price, .product-card-style .bottom-product-panel .product-color, .product-card-style .bottom-product-panel .sizes-info div, .product-card-style .bottom-product-panel .sizes-info, .product-card-style .top-product-panel, .product-card-style .compare-checkbox, .product-card-style, .checkbox-style, .options-list-style li input, .options-list-style1 li input, .product-card-style .compare-checkbox input, .nav-link-style, .arrow-style {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between, .derailleurs-container, .companies-container .company-item, .options-list-style li, .options-list-style1 li, .filter-input-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-container {
  max-width: 1216px;
  margin: 0 auto 0;
}

@media (max-width: 1220px) {
  .main-container {
    width: auto;
    padding: 0 16px;
  }
}
.image-responsive {
  width: 100%;
  height: auto;
}

.product-main-container {
  max-width: 799px;
}

.technologies-page-container {
  max-width: 800px;
  margin: 0 auto 0;
}

@media (max-width: 850px) {
  .technologies-page-container {
    max-width: 100%;
    padding: 0 16px;
  }
}
.btn-style, .product-card-style .bottom-product-panel .product-price button {
  font-family: "Inter", sans-serif, Helvetica;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  height: 52px;
  border: none;
  color: white;
  background-color: #178BCA;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn-style:hover, .product-card-style .bottom-product-panel .product-price button:hover {
  background-color: #0BA5EC;
}

.arrow-style {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  border: 1px solid #EAECF0;
  transition: 0.2s ease-in-out;
}
.arrow-style:hover {
  background-color: #F9FAFB;
}

.headers-typo-style {
  margin: 0;
  font-family: "Sequel", sans-serif, Helvetica;
  font-weight: 400;
  color: #101828;
  font-size: 2.2rem;
  line-height: 46px;
  letter-spacing: -2%;
}

@media (max-width: 576px) {
  .headers-typo-style {
    font-size: 1.5rem;
    line-height: 24px;
  }
}
.page-line-style {
  position: absolute;
  background-color: #E5E5E5;
  width: 1px;
  height: 100%;
  bottom: 0;
  z-index: 99;
}

.nav-link-style {
  text-decoration: none;
  margin: 0;
  font-family: "Sequel", sans-serif, Helvetica;
  font-weight: 400;
  font-size: 1rem;
  color: #667085;
  line-height: 24px;
}

.checkbox-style, .options-list-style li input, .options-list-style1 li input, .product-card-style .compare-checkbox input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  position: relative;
  margin: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #D0D5DD;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.checkbox-style::before, .options-list-style li input::before, .options-list-style1 li input::before, .product-card-style .compare-checkbox input::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  transform: scale(0);
  transition: 0.1s ease-in-out;
}
.checkbox-style::after, .options-list-style li input::after, .options-list-style1 li input::after, .product-card-style .compare-checkbox input::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 13px;
  background-image: url("../img/checkmark.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(0) rotate(90deg);
  transition: 0.1s ease-in-out;
}
.checkbox-style:checked::before, .options-list-style li input:checked::before, .options-list-style1 li input:checked::before, .product-card-style .compare-checkbox input:checked::before {
  transform: scale(1);
}
.checkbox-style:checked::after, .options-list-style li input:checked::after, .options-list-style1 li input:checked::after, .product-card-style .compare-checkbox input:checked::after {
  transform: scale(1) rotate(0);
}

.product-card-style {
  position: relative;
  box-sizing: border-box;
  width: 384px;
  height: 580px;
  padding: 32px;
}
.product-card-style .compare-checkbox {
  position: absolute;
  top: 14px;
  left: 14px;
  max-width: 114px;
  background-color: #F9FAFB;
  padding: 14px;
  gap: 8px;
}
.product-card-style .compare-checkbox input {
  width: 16px;
  height: 16px;
}
.product-card-style .compare-checkbox input::before {
  width: 18px;
  height: 18px;
  background-color: #F9FAFB;
}
.product-card-style .compare-checkbox input::after {
  left: -3px;
}
.product-card-style .compare-checkbox label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.product-card-style .top-product-panel {
  width: 100%;
  height: 320px;
}
.product-card-style .top-product-panel img {
  max-width: 100%;
  height: auto;
}
.product-card-style .bottom-product-panel {
  text-align: center;
}
.product-card-style .bottom-product-panel p {
  margin: 0;
  color: #7A7A7A;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 20px;
  letter-spacing: -1.2%;
}
.product-card-style .bottom-product-panel h3 {
  margin: 4px 0 0;
  color: #1A1A1A;
  font-family: "Sequel", sans-serif, Helvetica;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 22px;
  letter-spacing: -1.2%;
}
.product-card-style .bottom-product-panel .sizes-info {
  margin: 24px 0 0;
  gap: 14px;
}
.product-card-style .bottom-product-panel .sizes-info div {
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #178BCA;
}
.product-card-style .bottom-product-panel .sizes-info div p {
  color: white;
  font-size: 0.9rem;
}
.product-card-style .bottom-product-panel .sizes-info div:nth-child(2), .product-card-style .bottom-product-panel .sizes-info div:nth-child(3) {
  background-color: #F0F9FF;
}
.product-card-style .bottom-product-panel .sizes-info div:nth-child(2) P, .product-card-style .bottom-product-panel .sizes-info div:nth-child(3) P {
  color: #178BCA;
}
.product-card-style .bottom-product-panel .product-color {
  margin: 14px auto 0;
  gap: 14px;
}
.product-card-style .bottom-product-panel .product-color div {
  width: 30px;
  height: 30px;
  background-color: black;
  border: 4px solid #178BCA;
  border-radius: 50%;
}
.product-card-style .bottom-product-panel .product-price {
  margin: 24px 0 0;
  gap: 14px;
}
.product-card-style .bottom-product-panel .product-price h4 {
  margin: 0;
  color: #178BCA;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 28px;
  letter-spacing: -1%;
}
.product-card-style .bottom-product-panel .product-price button {
  display: none;
  width: 116px;
}

.filter-input-style {
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  padding: 0 14px;
  background-color: white;
  border: 2px solid #D0D5DD;
  cursor: pointer;
}

.options-list-style1 {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  max-height: 0;
  top: 46px;
  left: 0;
  background-color: white;
  padding: 0;
  margin: 0;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  transition: max-height 0.1s ease-in-out;
}
.options-list-style1 li {
  list-style-type: none;
  padding: 12px 14px;
}
.options-list-style1 li:hover {
  background-color: #178BCA;
}
.options-list-style1 li:hover label {
  color: white;
}
.options-list-style1 li:hover input::before {
  background-color: #178BCA;
}
.options-list-style1 li:hover input::after {
  background-image: url("../img/white_checkboxmark.svg");
}
.options-list-style1 li label {
  margin: 0;
  color: #667085;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 24px;
}
.options-list-style1 li input {
  background-color: white;
  border: 1px solid #D0D5DD;
}

.options-list-style {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  max-height: 0;
  top: 46px;
  left: 0;
  background-color: white;
  padding: 0;
  margin: 0;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  transition: max-height 0.1s ease-in-out;
}
.options-list-style li {
  position: relative;
  list-style-type: none;
  padding: 12px 14px;
}
.options-list-style li:hover {
  background-color: #178BCA;
}
.options-list-style li:hover .filter-text-container p {
  color: white;
}
.options-list-style li:hover input::before {
  background-color: #178BCA;
}
.options-list-style li:hover input::after {
  background-image: url("../img/white_checkboxmark.svg");
}
.options-list-style li label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.options-list-style li .filter-text-container p {
  margin: 0;
  color: #667085;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 24px;
}
.options-list-style li input {
  background-color: white;
  border: 1px solid #D0D5DD;
}

.technologies-home-section {
  min-height: auto;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/technologies-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70%;
}

.technologies-container {
  position: relative;
  min-height: auto;
  padding: 263px 0;
}
.technologies-container .home-text-content {
  width: 65%;
  color: white;
}
.technologies-container .home-text-content h1 {
  margin: 0;
  width: 550px;
  font-family: "Sequel", sans-serif, Helvetica;
  font-weight: 400;
  font-size: 3rem;
  line-height: 58px;
  letter-spacing: -2%;
}
.technologies-container .home-text-content h2 {
  margin: 32px 0 0;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 28px;
}
.technologies-container .technologies-home-arrow {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 72px;
  -webkit-animation: bounce 3s infinite;
          animation: bounce 3s infinite;
}
.technologies-container .technologies-home-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}
@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-21px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-21px);
  }
  100% {
    transform: translateY(0);
  }
}

.technologies-breadcrumbs {
  position: absolute;
  top: 32px;
  left: 0;
}
.technologies-breadcrumbs .breadcrumbs {
  overflow: auto;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: 18px;
}
.technologies-breadcrumbs .breadcrumbs a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 20px;
}

@media (max-width: 1220px) {
  .technologies-container {
    padding: 263px 16px;
  }
  .technologies-breadcrumbs {
    padding: 0 16px;
  }
}
@media (max-width: 992px) {
  .technologies-container .home-text-content {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .technologies-container {
    padding: 162px 16px 234px;
  }
  .technologies-container .home-text-content {
    width: 100%;
    text-align: center;
  }
  .technologies-container .home-text-content h1 {
    margin: 0 auto 0;
  }
  .technologies-container .technologies-home-arrow {
    display: block;
  }
}
@media (max-width: 576px) {
  .technologies-container .home-text-content h1 {
    width: 100%;
    font-size: 2.25rem;
    line-height: 46px;
  }
  .technologies-container .home-text-content h2 {
    margin: 20px 0 0;
  }
}
.comfort-section {
  min-height: auto;
  padding: 96px 0;
}

.comfort-container {
  gap: 24px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.comfort-container h2 {
  margin: 0;
  color: #101828;
  font-family: "Sequel", sans-serif, Helvetica;
  font-weight: 400;
  font-size: 3rem;
  line-height: 60px;
  letter-spacing: -2%;
}
.comfort-container p {
  margin: 0;
  color: #667085;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 28px;
}

@media (max-width: 992px) {
  .comfort-section {
    padding: 64px 0;
  }
}
@media (max-width: 576px) {
  .comfort-container {
    gap: 20px;
  }
  .comfort-container h2 {
    font-size: 1.5rem;
    line-height: 34px;
  }
}
.derailleurs-section {
  min-height: auto;
  padding: 96px 0;
  background-color: #F9FAFB;
}

.derailleurs-container, .companies-container .company-item {
  box-sizing: border-box;
}
.derailleurs-container .left-panel, .companies-container .company-item .left-panel {
  align-self: flex-start;
  max-width: 176px;
}
.derailleurs-container .left-panel .company-logo-square, .companies-container .company-item .left-panel .company-logo-square {
  width: 176px;
  height: 176px;
  background-color: white;
}
.derailleurs-container .right-panel .img-square, .companies-container .company-item .right-panel .img-square {
  width: 64px;
  height: 64px;
  background-color: #C4C4C4;
}
.derailleurs-container .right-panel h2, .companies-container .company-item .right-panel h2 {
  max-width: 488px;
  margin: 0;
  color: #101828;
  font-family: "Sequel", sans-serif, Helvetica;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 38px;
}
.derailleurs-container .right-panel p, .companies-container .company-item .right-panel p {
  max-width: 488px;
  margin: 16px 0 0;
  color: #667085;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 28px;
}

@media (max-width: 992px) {
  .derailleurs-section {
    padding: 64px 0;
  }
}
@media (max-width: 768px) {
  .derailleurs-container, .companies-container .company-item {
    flex-direction: column;
    gap: 32px;
  }
  .derailleurs-container .left-panel, .companies-container .company-item .left-panel {
    margin: 0 auto 0;
  }
  .derailleurs-container .right-panel, .companies-container .company-item .right-panel {
    text-align: left;
  }
  .derailleurs-container .right-panel .img-square, .companies-container .company-item .right-panel .img-square {
    display: none;
  }
  .derailleurs-container .right-panel p, .companies-container .company-item .right-panel p, .derailleurs-container .right-panel h2, .companies-container .company-item .right-panel h2 {
    max-width: 100%;
  }
}
.rating-section {
  min-height: auto;
  padding: 96px 0;
  overflow: hidden;
}

.rating-container {
  padding: 0;
}
.rating-container h2 {
  margin: 0;
  padding: 0 16px;
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto 0;
  color: #1E94D2;
  text-align: center;
  font-family: "Sequel", sans-serif, Helvetica;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 46px;
  letter-spacing: -2%;
}

.rating-items-container, .mobile-rating-items-container {
  margin: 64px 0 0;
  flex-wrap: wrap;
  gap: 32px;
}
.rating-items-container .rating-item, .mobile-rating-items-container .rating-item {
  width: 216px;
  height: 168px;
  padding: 32px;
  gap: 32px;
  margin: 0 auto 0;
}
.rating-items-container .rating-item h3, .mobile-rating-items-container .rating-item h3 {
  margin: 0;
  width: auto;
  text-align: center;
  color: #667085;
  font-family: "Sequel", sans-serif, Helvetica;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 24px;
}
.rating-items-container .rating-item img, .mobile-rating-items-container .rating-item img {
  max-width: 154px;
  height: auto;
}
.rating-items-container .rating-item .rating-stars-container, .mobile-rating-items-container .rating-item .rating-stars-container {
  gap: 16px;
}
.rating-items-container .rating-item:nth-child(4) .rating-stars-container .rating-star:nth-child(5) svg, .mobile-rating-items-container .rating-item:nth-child(4) .rating-stars-container .rating-star:nth-child(5) svg {
  fill: #9acce7;
  stroke: #9acce7;
}
.rating-items-container .rating-item:nth-child(5) .rating-stars-container .rating-star:nth-child(4) svg, .mobile-rating-items-container .rating-item:nth-child(5) .rating-stars-container .rating-star:nth-child(4) svg, .rating-items-container .rating-item:nth-child(5) .rating-stars-container .rating-star:nth-child(5) svg, .mobile-rating-items-container .rating-item:nth-child(5) .rating-stars-container .rating-star:nth-child(5) svg {
  fill: #9acce7;
  stroke: #9acce7;
}
.rating-items-container .rating-item:nth-child(6) .rating-stars-container .rating-star:nth-child(3) svg, .mobile-rating-items-container .rating-item:nth-child(6) .rating-stars-container .rating-star:nth-child(3) svg, .rating-items-container .rating-item:nth-child(6) .rating-stars-container .rating-star:nth-child(4) svg, .mobile-rating-items-container .rating-item:nth-child(6) .rating-stars-container .rating-star:nth-child(4) svg, .rating-items-container .rating-item:nth-child(6) .rating-stars-container .rating-star:nth-child(5) svg, .mobile-rating-items-container .rating-item:nth-child(6) .rating-stars-container .rating-star:nth-child(5) svg {
  fill: #9acce7;
  stroke: #9acce7;
}
.rating-items-container .rating-item:nth-child(7) .rating-stars-container .rating-star:nth-child(2) svg, .mobile-rating-items-container .rating-item:nth-child(7) .rating-stars-container .rating-star:nth-child(2) svg, .rating-items-container .rating-item:nth-child(7) .rating-stars-container .rating-star:nth-child(3) svg, .mobile-rating-items-container .rating-item:nth-child(7) .rating-stars-container .rating-star:nth-child(3) svg, .rating-items-container .rating-item:nth-child(7) .rating-stars-container .rating-star:nth-child(4) svg, .mobile-rating-items-container .rating-item:nth-child(7) .rating-stars-container .rating-star:nth-child(4) svg, .rating-items-container .rating-item:nth-child(7) .rating-stars-container .rating-star:nth-child(5) svg, .mobile-rating-items-container .rating-item:nth-child(7) .rating-stars-container .rating-star:nth-child(5) svg {
  fill: #9acce7;
  stroke: #9acce7;
}

.rating-pag {
  display: none;
  margin: 46px 0 0;
  padding: 0 16px;
}

.mobile-rating-items-container {
  display: none;
}
.mobile-rating-items-container ul li:nth-child(4) .rating-stars-container .rating-star:nth-child(5) svg {
  fill: #9acce7;
  stroke: #9acce7;
}
.mobile-rating-items-container ul li:nth-child(5) .rating-stars-container .rating-star:nth-child(4) svg, .mobile-rating-items-container ul li:nth-child(5) .rating-stars-container .rating-star:nth-child(5) svg {
  fill: #9acce7;
  stroke: #9acce7;
}
.mobile-rating-items-container ul li:nth-child(6) .rating-stars-container .rating-star:nth-child(3) svg, .mobile-rating-items-container ul li:nth-child(6) .rating-stars-container .rating-star:nth-child(4) svg, .mobile-rating-items-container ul li:nth-child(6) .rating-stars-container .rating-star:nth-child(5) svg {
  fill: #9acce7;
  stroke: #9acce7;
}
.mobile-rating-items-container ul li:nth-child(7) .rating-stars-container .rating-star:nth-child(2) svg, .mobile-rating-items-container ul li:nth-child(7) .rating-stars-container .rating-star:nth-child(3) svg, .mobile-rating-items-container ul li:nth-child(7) .rating-stars-container .rating-star:nth-child(4) svg, .mobile-rating-items-container ul li:nth-child(7) .rating-stars-container .rating-star:nth-child(5) svg {
  fill: #9acce7;
  stroke: #9acce7;
}
.mobile-rating-items-container .rating-item {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  gap: 0;
}
.mobile-rating-items-container .rating-item .rating-stars-container {
  gap: 10px;
}

@media (max-width: 992px) {
  .rating-section {
    padding: 64px 0 71px;
  }
  .rating-container h2 {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .rating-container h2 {
    width: 100%;
  }
  .rating-items-container, .mobile-rating-items-container {
    display: none;
  }
  .mobile-rating-items-container {
    display: block;
  }
  .rating-pag {
    display: block;
  }
}
@media (max-width: 576px) {
  .rating-container h2 {
    font-size: 1.5rem;
    line-height: 34px;
  }
}
@media (max-width: 450px) {
  .mobile-rating-items-container .rating-item {
    width: 216px;
  }
}
.companies-section {
  min-height: auto;
  background-color: #F9FAFB;
  padding: 96px 0;
}

.companies-container {
  gap: 64px;
}
.companies-container .company-item .right-panel {
  padding: 64px 0 0;
}

@media (max-width: 992px) {
  .companies-section {
    padding: 64px 0;
  }
}
@media (max-width: 768px) {
  .companies-container .company-item .right-panel {
    padding: 0;
  }
}/*# sourceMappingURL=technologies-style.css.map */